<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<form [formGroup]="register" (ngSubmit)="registerUser()">

  <label>Enter Name</label>&nbsp;&nbsp;
  <input type="text" formControlName="name"><br><br>

  <label>Enter password</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" formControlName="password"><br><br>

  <button class="btn btn-danger">Register</button>
</form>