<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<div class="container">
  <form [formGroup]="addTechnology" (ngSubmit)="submitData(addQuestion)" class="form-inline">
    <div class="form-group">
      <label>Technology:</label>
      <input type="text" class="form-control" formControlName="title">
    </div>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary">Add Technology</button>

  </form>
</div>
<br><br>
<br>
<br>

<div class="container">
  <app-AddQuestion #addQuestion></app-AddQuestion>

</div>

<a routerLink="/upload">View Questions</a>