<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<form [formGroup]="changePass" (ngSubmit)="changePassword()">

  <label>Enter User name</label>&nbsp;&nbsp;
  <input type="text" formControlName="name"><br><br>

  <label>Enter  Old password</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" formControlName="password"><br><br>


  <label>Enter  New  password</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" formControlName="newPassword"><br><br>

  <button class="btn btn-danger">Change Passwords</button>
</form>